[ACC_CREDENTIALS]
t2maccount = account
t2musername = user
t2mpassword = pass
t2mdeveloperid = devid

[INS_CREDENTIALS]
t2mdeviceusername = user
t2mdevicepassword = pass

[ELASTIC]
esnodes = esnode1:port,esnode2:port

[LOGGING]
level = DEBUG